@import url('https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@1,700&family=PT+Serif+Caption:ital@1&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.heading {
    text-align: center;
    margin: 30px;
    font-size: 9vmin;
    color: #fafafa;
    font-family: 'Istok Web', sans-serif;
}

.statement {
    text-align: center;
    font-family: 'PT Serif Caption', serif;
    color: #cccccc;
    margin: 1rem 1rem;
    font-size: 3vh;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 2vw 20vw;
    justify-content: space-between;
    margin-bottom: 0;
}

.triangle-image img {
    width: 35vw;
    height: 55vh;
    /* margin-right: 5rem; */
    border-radius: 2rem;

}

.input-angle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'PT Serif Caption', serif;
    color: #cccccc;
    font-size: 3vh;
    /* padding: 3rem; */
    font-weight: bold;
    margin-top: 0;
}

.angle-a, .angle-b, .angle-c {
    width: 7vw;
    height: 6vh;
    margin: 10px;
    text-align: center;
    font-size: large;   
    border-radius: 10px;
}

.result {
    display: none;
    font-family: 'PT Serif Caption', serif;
    color: #cccccc;
    font-size: 5vh;
    text-align: center;
    margin-top: 40px;
}

.calculate {
    display: block;
    width: 14vw;
    height: 5vh;
    font-size: large;
    border-radius: 10px;
    margin-top: 20px;
    cursor: pointer;
    /* margin: 8rem; */
}
