@import url('https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@1,700&family=PT+Serif+Caption:ital@1&display=swap');


:root {
    --yellow: #f9f871;
    --offwhite: #fafafa;
    --lightpink: #f2ecff;
    --lightgrey: #cccccc;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
}


a {
    text-decoration: none;
}

.heading {
    text-align: center;
    margin: 30px;
    font-size: 9vmin;
    color: #fafafa;
    font-family: 'Istok Web', sans-serif;
}

.main-container {
    display: flex;
    flex-direction: row;
    /* padding: 12rem; */
    justify-content: center;
    flex-wrap: wrap;
    margin: 1rem;
    margin-top: 2rem;
}

.main-container a {
    text-decoration: none;
}


.main-container .box {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    margin: 0rem 2rem 2rem 2rem;
    padding: 2.5rem 30px;
    /* text-align: center; */
    width: 60vw;
    height: 3vw;
    opacity: 0.7;
    background-color: var(--lightpink);
    border-radius: 10px;
    font-family: 'PT Serif Caption', serif;
    font-size: 3vmin;
}

label {
    margin-top: 20px;
    padding-right: 30px;
    font-size: 2.2vmin;
}

.question p {
    margin-top: 1px;
    margin-bottom: 8px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    padding: 2.5rem 10px;
    text-align: center;
    width: 10vw;
    height: 1vw;
    opacity: 0.7;
    background-color: var(--lightpink);
    border-radius: 10px;
    font-family: 'PT Serif Caption', serif;
    font-size: 3vmin;
}

.box p {
    font-weight: bold;
    font-size: 2.5vmin;
}

.result {
    font-family: 'PT Serif Caption', serif;
    color: var(--lightgrey);
    font-size: 5vh;
    text-align: center;
    height: 10vh;
    /* margin-top: 40px; */
}