@import url('https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@1,700&family=PT+Serif+Caption:ital@1&display=swap');


:root {
    --yellow: #f9f871;
    --offwhite: #fafafa;
    --lightpink: #f2ecff;
    --lightgrey: #cccccc;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

a {
    text-decoration: none;
}

/************Tirangldeck********************/
.heading {
    text-align: center;
    margin: 30px;
    font-size: 9vmin;
    color: var(--offwhite);
    font-family: 'Istok Web', sans-serif;
    cursor: pointer;
    /* text-decoration: none; */
}
/******************************************/


/***********Result and Statement*************/
.statement {
    text-align: center;
    font-family: 'PT Serif Caption', serif;
    color: var(--lightgrey);
    margin: 1rem 1rem;
    font-size: 3vh;
}

.result {
    font-family: 'PT Serif Caption', serif;
    color: var(--lightgrey);
    font-size: 5vh;
    text-align: center;
    margin-top: 40px;
}

/******************************************/



/**************Four Boxes*******************/
.main-container {
    display: flex;
    flex-direction: row;
    /* padding: 12rem; */
    justify-content: center;
    flex-wrap: wrap;
    margin: 2rem;
    margin-top: 9rem;
}

.main-container a {
    text-decoration: none;
}

.main-container .box:hover {
    transform: scale(1.1,1.1);
    background: linear-gradient(to right, var(--yellow) 70%, var(--lightpink));
    transition: all 3s ease-out;
}

.box, .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 2rem;
    width: 30vw;
    height: 10vw;
    background-color: var(--lightpink);
    border-radius: 1rem;
    opacity: 0.7;
    font-family: 'PT Serif Caption', serif;
    font-size: 4vmin;
    transition: 1s ease-out;
    cursor: pointer;
}
/******************************************/


/*************Content of left side***************/



.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5vw 20vw;
    justify-content: space-between;
    margin-bottom: 0;
}



.display-twosides-container, .display-herons-container, .display-sas-container {
    display: none;
    flex-direction: row;
    align-items: center;
    margin: 2vw 20vw;
    justify-content: space-between;
    margin-bottom: 0;
}

/*** Left side image ***/
.triangle-image img {
    width: 25vw;
    height: 45vh;
    margin-right: 5rem;
    border-radius: 2rem;
}
/******/

/***** Input sof Right side *****/
.input-angle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'PT Serif Caption', serif;
    color: var(--lightgrey);
    font-size: 3vh;
    /* padding: 3rem; */
    font-weight: bold;
    margin-top: 0;
}

.angle-a, .angle-b, .angle-c {
    width: 7vw;
    height: 6vh;
    margin: 10px;
    text-align: center;
    font-size: large;   
    border-radius: 10px;
}

/******************************************/



.check, .calculate {
    display: block;
    width: 14vw;
    height: 5vh;
    font-size: large;
    border-radius: 10px;
    margin-top: 20px;
    cursor: pointer;
}





/******************************************/

@media only screen and (max-width: 900px){

    .heading {
        font-size: 3rem;
    }

    .container {
        margin-top: 4rem;
    }
    
    .box, .btn {
        width: 70vw;
        height: 12vh;
        font-size: 5vmin;
    }
}